*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.comp2{
    width: 100%;
    height: 80vh;
    background-color: rgb(247,247,247);
    padding-top: 80px;
}
.comp2 article{
    width: 90%;
    height: 65vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.media{
    margin-left: 50px;
    width: 57.5%;
}
.text{
    width: 40%;
    padding-left: 40px;
    padding-right: 40px;
}
.t1 h1{
    color:rgb(237,117,1);
    font-size: xx-large;
    font-weight: bolder;
    padding-top: 40px;
    padding-left: 50px;
    background-color: rgb(255, 255, 255);
}
.t1 p{
    padding-top: 20px ;
    height: 320px;
    font-weight: bold;
    font-size: large;
    padding-top: 40px;
    padding-left: 50px;
    background-color: rgb(255, 255, 255);
}