*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-image: url("../../Assets/background_03.jpg");
    background-position: center;
    background-size: cover;
    width:100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.img2{
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
}
