.cardsArticle{
      /* background-color: red;
      width: 48%;
      height: 1000px; */
      display: flex;
      position: absolute;
      gap: 40px;
      left: 52%;
      top: 130%;
}

.cardsDiv1{
      /* background-color: yellow; */
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding-top: 70px;
}

.cardsDiv2{
      /* background-color: blue; */
      display: flex;
      flex-direction: column;
      gap: 40px;
}